html {
    background: #018DED url(http://unsplash.it/1500/1000?image=881&blur=5);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Comic Sans MS';
    text-align: center;
    font-size: 25px;
  }

  .init-form{
      display: inline-flex;
      margin: auto;
      flex-direction: column;
  }

.button{
    width: 100px;
    height: 100px;
    border: 4px solid white;
    background-color: lightseagreen;
    transition:
        transform 0.25s;
    margin: 3em;
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    
}

.button:hover{
    transform: scale(1.5);
    cursor: pointer;
}

.start {
    margin-top: 1em;
    width: 300px;
    height: 50px;
    text-align: center;
}

.game-buttons{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.rock{
    background-image: url("https://img.icons8.com/ios-filled/50/000000/rock.png");
}
.paper{
    background-image: url("https://img.icons8.com/ios/50/000000/paper.png");
}
.scissors{
    background-image: url("https://img.icons8.com/ios/50/000000/sewing-scissors.png");
}

.scores{
    margin: auto;
    width: 300px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 43px 46px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 43px 46px rgba(255,255,255,1);
    box-shadow: 0px 0px 43px 46px rgba(255,255,255,1);
}

ul{
    list-style-type: none;
}

.button.clicked{
    transition-duration: 0.1s;
    transform: scale(1.4);
}

.choices{
    display: flex;
    justify-content: space-evenly;
}

#round-result{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

#round-result.active{
    opacity: 1;
}
